<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row>
      <!--
      <button mat-icon-button aria-label="Navigation menu" (click)="snav.toggle()">
        <mat-icon aria-hidden="true">menu</mat-icon>
      </button>
      <h1 class="app-app-name">Monero Pool</h1>
      -->
                  <button mat-button routerLink="/home">
                    <mat-icon>home</mat-icon>
                    Monero Pool
                  </button>
                  <button mat-button routerLink="/pools">
                    <mat-icon>pools</mat-icon>
                    Pools
                  </button>
                  <!--
                  <button mat-button routerLink="/blocks" fxShow [fxShow.xs]="false">
                    <mat-icon>widgets</mat-icon>
                    Blocks
                  </button>
                  <button mat-button routerLink="/payments" fxShow [fxShow.xs]="false">
                    <mat-icon>payments</mat-icon>
                    Payments
                  </button>
                -->
      <div fxFlex></div>
      <div class="mat-caption" fxShow [fxShow.xs]="false">
        <span *ngIf="userService.settings.networkStats">
          Network:
          <b>{{userService.settings.networkStats.difficulty | difficultyToHashRate | abbreviatedNumber }}H/s</b>
        </span>
        &nbsp;
        <span *ngIf="userService.settings.poolStats">
          Pool:
          <b>{{userService.settings.poolStats.hashRate | abbreviatedNumber }}H/s</b>
        </span>
        &nbsp;
        <span *ngIf="userService.settings.minerStats">
          You:
          <b>{{userService.settings.minerStats.hash | abbreviatedNumber }}H/s</b>
        </span>
      </div>
                  <div fxFlex></div>
                  <button mat-icon-button routerLink="/settings">
                    <mat-icon>settings</mat-icon>
                  </button>
                  <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #appMenu="matMenu">
                    <button mat-menu-item routerLink="/about"> 
                      <mat-icon>info</mat-icon>
                      About 
                    </button>
                    <button mat-menu-item routerLink="/chat"> 
                      <mat-icon>chat</mat-icon>
                      Support 
                    </button>
                    <button mat-menu-item routerLink="/help">
                      <mat-icon>help</mat-icon>
                      Help
                    </button>
                  </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row fxShow="false" [fxShow.xs]="true">
        <div *ngIf="userService.settings.networkStats" class="mat-caption">
          Network:
          <b>{{userService.settings.networkStats.difficulty | difficultyToHashRate | abbreviatedNumber }}H/s</b>
        </div>
        &nbsp;
        <div *ngIf="userService.settings.poolStats" class="mat-caption">
          Pool:
          <b>{{userService.settings.poolStats.hashRate | abbreviatedNumber }}H/s</b>
        </div>
        <!--
        &nbsp;
        <div *ngIf="userService.settings.pools" class="mat-caption">
          Pools:
          <b>{{userService.settings.pools.length | abbreviatedNumber }}</b>
        </div>
        &nbsp;
        <div *ngIf="userService.settings.pools" class="mat-caption">
          Miners:
          <b>{{userService.getTotalMiners() | abbreviatedNumber }}</b>
        </div>
      -->
      &nbsp;
        <div *ngIf="userService.settings.minerStats" class="mat-caption">
          You:
          <b>{{userService.settings.minerStats.hash | abbreviatedNumber }}H/s</b>
        </div>
      </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 112 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'push' : 'push'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="112">
      <!--<mat-sidenav #start [mode]="mode" [fixedInViewport]="mobileQuery.matches">-->
      <mat-toolbar>
        <span>Monero Pool UI Menu</span>
      </mat-toolbar>
      <!-- (click)="snav.close()" -->
      <mat-nav-list>
        <!--
        <h3 mat-subheader>Menu</h3>
        -->
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/home">
          <mat-icon matListIcon>home</mat-icon>
          <span mat-line>Home</span>
        </a>
        <mat-divider></mat-divider>
        <!--
        <h3 mat-subheader>Network</h3>
        -->
        <a mat-list-item routerLink="/pools">
          <mat-icon matListIcon>pools</mat-icon>
          <span mat-line>Pools</span>
        </a>
        <mat-divider></mat-divider>
        <!--<h3 mat-subheader>Settings</h3>-->
        <a mat-list-item routerLink="/settings">
          <mat-icon matListIcon>settings</mat-icon>
          <h4 mat-line>Settings</h4>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
          <div class="app-main-content">
        <!--<app-messages></app-messages>-->
        <router-outlet></router-outlet>
      </div>
      <mat-toolbar>
        <mat-toolbar-row class="mat-caption">
          <span>
            Powered by
            <a href="https://github.com/CIInc/ngpoolui" target="_new">ngpoolui</a>
            <!--
            &nbsp;
            Credits
            <a href="https://github.com/mesh0000/poolui" target="_new">poolui</a>
            <a href="https://github.com/Snipa22/nodejs-pool" target="_new">nodejs-pool</a>
            -->
          </span>
          <div fxFlex></div>
          <span>
            <!-- fxShow [fxShow.xs]="false" -->
            © Continuous Integration, Inc. 2018
          </span>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>