<mat-card>
    <h3>Welcome to Cryptonote Pool UI</h3>
    A monitoring portal for all your cryptonote mining pools in one place.
    <p></p>
    Built with the latest
    <a href="https://angular.io">Angular</a> framework
    <a href="https://github.com/angular/angular/releases" target="_blank">5.1</a> and
    <a href="https://material.angular.io" target="_blank">Material</a> design
    <a href="https://github.com/angular/material2/releases" target="_blank">5.0</a> releases.
    <p></p>
    <h4>Features</h4>
    <li>Find my payment address across all registered pools.</li>
    <li>Supports multiple pool concurrently monitored.</li>
    <li>Active development team.</li>
  </mat-card>
