.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.flexcards {
    width: 100%;
    /*margin-bottom: 10px;*/
    overflow-x: auto;
}

.chart-container {
    display: flex;
    flex-direction: column;
    /*min-width: 300px;*/
  }
