<mat-toolbar color="primary">Monero Pool UI</mat-toolbar>

<mat-card>
    <h3>Welcome to Monero Pool UI</h3>
    A monitoring portal for all your Monero mining pools.
    <p></p>
    <h4>Features</h4>
    <ul>
    <li>Register your own pool.</li>
    <li>Browse all registered pools.</li>
    <li>Find your payment addresses across all registered pools.</li>
    <li>Monitor your payment address.</li>
    </ul>
    <h4>Technology</h4>
    <ul>
    <li>
        Built with 
        <a href="https://angular.io" target="_blank">Angular</a> framework and
        <a href="https://material.angular.io" target="_blank">Angular Material</a>.
        <!--
        <a href="https://github.com/angular/angular/releases" target="_blank">5.1</a>
        <a href="https://github.com/angular/material2/releases" target="_blank">5.0</a>
        https://cryptonote-pool-api.restlet.io/
        -->          
    </li>
    <li>
      Works with any <a href="https://github.com/Snipa22/nodejs-pool" target="_blank">nodejs-pool</a> server.
    </li>
    <li>
      Open source project.
    </li>
    <li>
      Active development team.
    </li>
  </ul>
  </mat-card>
