.pools-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
.pools-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  /*color: white;*/
}

.mat-column-selected {
  flex: 0 0 44px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}