<mat-toolbar color="primary">Settings</mat-toolbar>
<mat-card>
    <mat-card-content>
<!--
<mat-list>
<mat-list-item>
</mat-list-item>
</mat-list>
-->
<div class="settings-container">
<mat-form-field>
    <input matInput [(ngModel)]="userService.settings.selectedAddress" placeholder="Payment address to monitor">
</mat-form-field>
<mat-form-field>
  <mat-select [(ngModel)]="userService.settings.selectedPoolApiUrl" placeholder="Selected Pool">
    <mat-option *ngFor="let pool of pools" [value]="pool.apiUrl">
      {{ pool.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<!--
    <mat-slide-toggle [checked]="userService.settings.isDarkTheme" (change)="userService.settings.isDarkTheme!=userService.settings.isDarkTheme">Dark Theme</mat-slide-toggle>    
    -->
</div>

</mat-card-content>
<mat-card-actions>
    <div fxFlex></div>
    <button mat-button (click)="save()">
        <mat-icon>save</mat-icon>
        Save
    </button>    
</mat-card-actions>
</mat-card>
